configuration {
  font: "JetBrainsMono Nerd Font 12";
  show-icons: true;
  icon-theme: "Papirus";
  theme: "doom-one"
}

{
  background: #282c34;
  foreground: #bbc2cf;
  border-color: #51afef;
  border-radius: 6px;
}
